@keyframes moveToBottom {
    /* 0% {
        transform: translate(0, 0);
    } */

    25% {
        transform: translate(-400px, 35vh);
    }

    50% {
        /* transform: translate(60%, 50vh); */
        transform: translate(-400px, 100vh);
    }

    75% {
        /* transform: translate(-50%, 75vh); */
        transform: translate(-400px, 100vh);
    }

    100% {
        transform: translate(-400px, 100vh);
    }
}


@media screen and (max-width: 1200px) {
    @keyframes moveToBottom {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-300px, 70vh);
        }

        50% {
            /* transform: translate(60%, 50vh); */
            transform: translate(-300px, 100vh);
        }

        75% {
            /* transform: translate(-50%, 75vh); */
            transform: translate(-300px, 100vh);
        }

        100% {
            transform: translate(-300px, 100vh);
        }
    }
}

@media screen and (max-width: 900px) {
    @keyframes moveToBottom {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-25vw, 70vh);
        }

        50% {
            /* transform: translate(60%, 50vh); */
            transform: translate(0vw, 100vh);
        }

        75% {
            /* transform: translate(-50%, 75vh); */
            transform: translate(0vw, 100vh);
        }

        100% {
            transform: translate(0, 100vh);
        }
    }
}

@media screen and (max-width: 700px) {
    @keyframes moveToBottom {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-25vw, 35vh);
        }

        50% {
            /* transform: translate(60%, 50vh); */
            transform: translate(0vw, 105vh);
        }

        75% {
            /* transform: translate(-50%, 75vh); */
            transform: translate(0vw, 105vh);
        }

        100% {
            transform: translate(0, 105vh);
        }
    }
}

.packetImageTimeline {
    view-timeline-name: --packetImageTimeline;
}

.packetImageItem {
    animation: float 6s ease-in-out infinite;

}

.packetImage {
    width: 250px;
    height: 400px;
    animation: moveToBottom linear;
    animation-timeline: --packetImageTimeline;
    animation-range: entry 0% exit 100%;
}



.reviewTimeline {
    view-timeline-name: --reviewScrollTimeline;
}

.reviewScrollContainer {
    animation: scrollReviews linear;
    animation-timeline: --reviewScrollTimeline;
    animation-range: entry 0% exit 100%;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(30px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}


@keyframes scrollReviews {
    35% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

@media screen and (max-width: 700px) {

    .packetImage,
    .packetImageItem {
        width: 150px;
        height: 240px;
        left: calc(50% - 75px);
        top: calc(50% - 120px);
    }
}

@media screen and (max-width: 500px) {
    .reviewScrollContainer {
        animation: none;
    }
}