@keyframes moveToBottom {
    /* 0% {
        transform: translate(0, 0);
    } */

    25% {
        transform: translate(-32vw, 35vh);
    }

    50% {
        /* transform: translate(60%, 50vh); */
        transform: translate(-32vw, 100vh);
    }

    75% {
        /* transform: translate(-50%, 75vh); */
        transform: translate(-32vw, 100vh);
    }

    100% {
        transform: translate(-32vw, 100vh);
    }
}

@media screen and (max-width: 900px) {
    @keyframes moveToBottom {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-25vw, 70vh);
        }

        50% {
            /* transform: translate(60%, 50vh); */
            transform: translate(0vw, 107vh);
        }

        75% {
            /* transform: translate(-50%, 75vh); */
            transform: translate(0vw, 107vh);
        }

        100% {
            transform: translate(0, 107vh);
        }
    }
}

@media screen and (max-width: 700px) {
    @keyframes moveToBottom {
        0% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(-25vw, 35vh);
        }

        50% {
            /* transform: translate(60%, 50vh); */
            transform: translate(0vw, 85vh);
        }

        75% {
            /* transform: translate(-50%, 75vh); */
            transform: translate(0vw, 85vh);
        }

        100% {
            transform: translate(0, 85vh);
        }
    }
}

.packetImageTimeline {
    view-timeline-name: --packetImageTimeline;
}

.packetImage img {
    width: 250px;
    height: 400px;
    animation: moveToBottom linear;
    animation-timeline: --packetImageTimeline;
    animation-range: entry 0% exit 100%;
}

.reviewTimeline {
    view-timeline-name: --reviewScrollTimeline;
}

.reviewScrollContainer {
    animation: scrollReviews linear;
    animation-timeline: --reviewScrollTimeline;
    animation-range: entry 0% exit 100%;
}

@keyframes scrollReviews {
    35% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

@media screen and (max-width: 700px) {
    .packetImage img {
        width: 150px;
        height: 240px;
        left: calc(50% - 75px);
        top: calc(50% - 120px);
    }
}