@keyframes moveToBottom {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-25vw, 35vh);
    }

    50% {
        /* transform: translate(60%, 50vh); */
        transform: translate(-25vw, 95vh);
    }

    75% {
        /* transform: translate(-50%, 75vh); */
        transform: translate(-25vw, 95vh);
    }

    100% {
        transform: translate(-25vw, 95vh);
    }
}

.packetImageTimeline {
    view-timeline-name: --packetImageTimeline;
}

.packetImage img {
    width: 250px;
    height: 400px;
    position: absolute;
    left: calc(50% - 110px);
    top: calc(50% - 200px);
    animation: moveToBottom linear;
    animation-timeline: --packetImageTimeline;
    animation-range: entry 0% exit 100%;
}

@media screen and (max-width: 700px) {
    .packetImage img {
        width: 150px;
        height: 240px;
        left: calc(50% - 75px);
        top: calc(50% - 120px);
    }
}