@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #007a53;
  --color-secondary: #00cc36;
  --color-tertiary: #0091f2;
  --color-primary-accent: #00b084;
  --color-secondary-accent: #00504b;
  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-text-secondary: rgba(255, 255, 255, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--color-text-secondary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-secondary);
}

body {
  background-color: black;
  background-image:
    radial-gradient(800px circle at 25% 15%,
      rgba(52, 211, 153, 0.30),
      transparent 40%),
    radial-gradient(700px circle at 100% 20%,
      rgba(20, 184, 166, 0.22),
      transparent 45%),
    radial-gradient(500px circle at 45% 28%,
      rgba(52, 211, 73, 0.3),
      transparent 40%),
    radial-gradient(600px circle at 25% 55%,
      rgba(163, 230, 53, 0.18),
      transparent 50%),
    radial-gradient(700px circle at 65% 85%,
      rgba(20, 184, 166, 0.22),
      transparent 45%),
    radial-gradient(600px circle at 10% 100%,
      rgba(52, 211, 153, 0.18),
      transparent 50%);
  min-height: 100vh;
  timeline-scope: --packetImageTimeline;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}

button:not(:disabled):hover {
  background-color: var(--color-primary);
}

/* button:focus,
button:focus-visible {
  background-color: var(--color-secondary);
} */

.card {
  border: 2px solid;
  border-image: linear-gradient(125deg,
      var(--color-tertiary),
      var(--color-secondary)) 1;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
}

.gradientBorder {
  border: 2px solid;
  border-image: linear-gradient(125deg,
      var(--color-tertiary),
      var(--color-secondary)) 1;
}

.glassCard {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 20px;
}

.gradientText {
  background: linear-gradient(90deg, var(--color-tertiary), var(--color-secondary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="checkbox"] {
  scale: 1.5;
  translate: 4px 8px;
  background-color: transparent;
  accent-color: var(--color-primary);
}

input[type="text"],
input[type="password"] {
  border: 2px solid var(--color-primary);
  outline: none;
}

/* 
input[type="text"]:focus,
input[type="text"]:focus-visible,
input[type="password"]:focus,
input[type="password"]:focus-visible {
  border: 2px solid var(--color-secondary);
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}