.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
}

.loginForm input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}