.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    background-image:
        radial-gradient(800px circle at 25% 15%,
            rgba(52, 211, 153, 0.30),
            transparent 40%),
        radial-gradient(700px circle at 100% 60%,
            rgba(20, 184, 166, 0.22),
            transparent 45%),
        radial-gradient(500px circle at 35% 95%,
            rgba(52, 211, 73, 0.3),
            transparent 40%);
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
}

.loginForm input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border-radius: 16px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px
}

@media screen and (max-width: 500px) {
    .loginForm {
        width: 100%;
    }
}