.homeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    min-height: 90dvh;
}

.circle {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at center, #34d199, #146ba6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(52, 209, 153, 0.5);
    margin-bottom: 20px;
}