.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.navbar li {
    list-style: none;
    color: white;
}

.navbar ul {
    padding: 0px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}