.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    /* max-width: 1600px; */
    margin: auto;
    position: fixed;
    z-index: 200;
    border-image: linear-gradient(125deg,
            var(--color-tertiary),
            var(--color-secondary)) 1;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
}

.navbar li {
    list-style: none;
    color: white;
}

.navbar ul {
    padding: 0px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

.navMenu {
    display: none;
}

.navMenu img {
    height: 24px;
    width: 24px;
}

.placeHolder {
    display: none;
}

.menuIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;

    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hamIcon {
    transform: scale(1);
}

.closeIcon {
    transform: scale(1);
}

.navMenuContainer {
    position: absolute;
    top: 65px;
    right: 10px;
    padding: 10px;
    z-index: 1000;
    background-color: black;
    border: 2px solid var(--color-primary);
    width: 180px;
}

.navMenu .closeIcon {
    height: 18px;
    width: 22px;
}

.navMenuContainer a {
    color: white;
    display: block;
    width: 100%;
}

.navMenuContainer li {
    padding: 4px 0px;
}

.navMenuContainer a:hover {
    color: var(--color-secondary);
}

@media screen and (max-width: 700px) {
    .navLinks {
        display: none;
    }

    .navButton {
        display: none;
    }

    .navMenu {
        display: block;
    }
}