.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    max-width: 1600px;
    margin: auto;
    position: fixed;
    z-index: 200;
    border-image: linear-gradient(125deg,
            var(--color-tertiary),
            var(--color-secondary)) 1;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
}

.navbar li {
    list-style: none;
    color: white;
}

.navbar ul {
    padding: 0px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}