.productInfoContainer {
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1600px;
    margin: auto;
}

.leftContainer {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rightContainer {
    flex: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.rightContent,
.leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10px;
}

.leftContent div,
.rightContent div {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    background-color: black;
    border: 2px solid;
    border-image: linear-gradient(125deg,
            var(--color-tertiary),
            var(--color-secondary)) 1;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    padding: 10px;
}

.leftContent div p,
.rightContent div p {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.rightContainer img {
    height: 30px;
    width: 30px;
    color: white
}

@media screen and (max-width: 900px) {
    .productInfoContainer {
        flex-direction: column;
        min-height: 130vh;
    }

    .leftContainer {
        flex: 6;
    }

    .rightContainer {
        flex: 0;
        flex-direction: column;
    }

    .leftContent,
    .rightContent {
        flex-direction: column;
        align-items: center;
        margin: 0px;
        width: 100%;
    }

    .leftContent div,
    .rightContent div {
        height: 100px;
        width: 70%;
        flex-direction: row;
    }

}

@media screen and (max-width: 700px) {
    .productInfoContainer {
        min-height: 110vh;
    }

    .leftContent div,
    .rightContent div {
        height: 100px;
        width: 80%;
    }

    .leftContent div p,
    .rightContent div p {
        font-size: 1rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }

}