.reviewContainer {
    min-height: 100vh;
    max-width: 1600px;
    margin: auto;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.scrollWrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
}

.scrollWrapper::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scrollContainer div {
    height: 300px;
    width: 600px;
    margin: 10px;
    flex-shrink: 0;
    margin-left: 100px;
}

.scrollContainer div:nth-child(5) {
    background-color: transparent;
}

.scrollContainer div:nth-child(6) {
    background-color: transparent;
}

.scrollContainer div:last-child {
    background-color: transparent;
}