.reviewContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    max-width: 1600px;
    width: 100%;

}

.scrollContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    padding: 10%;
}

.scrollContainer div {
    height: 300px;
    width: 300px;
    background-color: red;
    margin: 10px;
    flex-shrink: 0;
}